<!-- Validation failure messages -->
<% if @item && @item.errors.any? %>
  <% @item.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<% if @list && @list.errors.any? %>
  <% @list.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="page-header">
      <h1>Edit List<br>
    </div>
  </div>
</div>

<!-- Update List Name -->
<div class="row">
  <form action="/update_list/<%= @list.id %>">
    <input type="text" id="user_id" name="user_id" placeholder="User" class="hidden" value="<%= current_user.id %>">
    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-1 col-md-offset-2 col-md-1">
        <label for="name" class="col-sm-2 control-label">
          Name
        </label>
      </div>
      <div class="col-sm-7 col-md-5">
        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @list.name %>">
      </div>
      <div class="col-sm-2 col-md-2">
        <div class="form-group">
          <div class="btn-group btn-group-right">
            <button type="submit" class="btn btn-default">
              <i class="fa fa-refresh"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Update Items -->
<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <h3>Items</h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-offset-1 col-sm-1 col-md-offset-2 col-md-1">
    <label for="quantity">Quantity</label>
  </div>
  <div class="col-sm-2 col-md-2">
    <label for="unit">Measurement</label>
  </div>
  <div class="col-sm-6 col-md-4">
    <label for="item">Item</label>
  </div>
  <div class="col-sm-1 col-md-1">
    &nbsp;
  </div>
</div>

<%= render 'lists/add_items' %>
<%= render 'lists/edit_list_items' %>

<div>&nbsp;</div>

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <a href="/lists/<%= @list.id %>" class="btn btn-primary">
    Done!</a> or
    <a href="/delete_list/<%= @list.id %>">
      Delete List</a>
  </div>
</div>
