<!-- Validation failure messages -->

<% if @recipe_ingredient.errors.any? %>
  <% @recipe_ingredient.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>


<!-- Simple full-width example -->

<div class="page-header">
  <h1>Edit Recipe Ingredient #<%= @recipe_ingredient.id %></h1>
</div>

<form action="/update_recipe_ingredients">
  <input class="hidden" name="recipe_id" id="recipe_id" value="<%= @recipe_ingredient.recipe_id %>">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-1 col-md-offset-2 col-md-1">
      <label for="quantity">Quantity</label>
    </div>
    <div class="col-sm-2 col-md-2">
      <label for="unit">Measurement</label>
    </div>
    <div class="col-sm-6 col-md-4">
      <label for="item">Ingredient</label>
    </div>
    <div class="col-sm-1 col-md-1">
      &nbsp;
    </div>
  </div>

  <input class="hidden" name="recipe_id" id="recipe_id" value="<%= @recipe_ingredient.recipe_id %>">
  <div class="row">
    <% @recipe_ingredients.each do |recipe_ingredient| %>
    <div class="col-sm-offset-1 col-sm-1 col-md-offset-2 col-md-1">
      <div class="form-group">
        <input type="number" id="quantity" name="quantity" class="form-control" placeholder="0" step="any" min="0" value="<%= recipe_ingredient.quantity %>">
      </div>
    </div>
    <div class="col-sm-2 col-md-2">
      <div class="form-group">
        <input type="text" id="unit" name="unit" class="form-control" placeholder="cups, tbsp, etc." value="<%= recipe_ingredient.unit %>">
      </div>
    </div>
    <div class="col-sm-5 col-md-3">
      <div class="form-group">
        <input type="text" id="ingredient" name="ingredient" class="form-control" placeholder="bacon, eggs, toilet paper, etc." value="<%= recipe_ingredient.ingredient %>">
      </div>
    </div>
    <div class="col-sm-2 col-md-2">
      <div class="form-group">
        <div class="btn-group btn-group-right">
          <a href="/recipe_ingredients/<%= recipe_ingredient.id %>/edit" class="btn">
          <i class="fa fa-refresh"></i></a>
          <a href="/delete_recipe_ingredient/<%= recipe_ingredient.id %>" class="btn">
          <i class="fa fa-trash-o"></i></a>
        </div>
      </div>
    </div>
    <% end %>
  </div>

</form>
