<!-- Validation failure messages -->

<% if @recipe_ingredient.errors.any? %>
  <% @recipe_ingredient.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Simple full-width example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-2 col-md-offset-2 col-md-2">
    <div class="header_button_left">
     &nbsp;
    </div>
  </div>
  <div class="col-sm-8 col-md-6">
    <div class="header_button_right">
       <a href="/recipes/<%= @recipe_ingredient.recipe_id %>/edit">Edit Recipe</a> |
       <a href="/delete_recipe/<%= @recipe_ingredient.recipe_id %>">Delete Recipe</i></a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="page-header">
      <h1><%= @recipe_ingredient.recipe.name %></h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-offset-1 col-sm-6 col-md-offset-2 col-md-5">
    <h3>Add an ingredient to your recipe:</h3>
  </div>
</div>

<form action="/create_recipe_ingredient">
  <input class="hidden" name="recipe_id" id="recipe_id" value="<%= @recipe_ingredient.recipe_id %>">
<div class="row">
  <div class="col-sm-offset-1 col-sm-1 col-md-offset-2 col-md-1">
    <div class="form-group">
    <label for="recipe_quantity">Quantity</label>
    <input type="number" id="quantity" name="quantity" class="form-control" placeholder="0" step="any" min="0">
  </div>
  </div>
  <div class="col-sm-2 col-md-2">
  <div class="form-group">
    <label for="unit">Measurement</label>
    <input type="text" id="unit" name="unit" class="form-control" placeholder="cups, tbsp, etc.">
  </div>
  </div>
  <div class="col-sm-6 col-md-4">
  <div class="form-group">
    <label for="ingredient">Ingredient</label>
    <input type="text" id="ingredient" name="ingredient" class="form-control" placeholder="bacon, eggs, etc.">
  </div>
  </div>
  <div class="col-sm-1 col-md-1">
    <div class="add_icon">
    <label for="submit" class="btn btn-default"><i class="fa fa-plus fa-2x"></i></label>
    <input id="submit" type="submit" value="add_ingredient" class="hidden">
    </div>
  </div>
</div>
</form>

<div>&nbsp;</div>

<div class="row">
  <div class="col-sm-offset-1 col-sm-6 col-md-offset-2 col-md-5">
    <a href="/recipes/<%= @recipe_ingredient.recipe_id %>">
      <button type="button" class="btn btn-primary">View Recipe</button>
    </a>
  </div>
</div>
