  <div class="row">
    <% @recipe_ingredients.each do |ingredient| %>
    <form action="/update_recipe_ingredient/<%= ingredient.id %>">
      <input class="hidden" name="ingredient_id" id="ingredient_id" value="<%= ingredient.id %>">
      <input class="hidden" name="recipe_id" id="recipe_id" value="<%= @recipe.id %>">
      <div class="col-sm-offset-1 col-sm-1 col-md-offset-2 col-md-1">
        <div class="form-group">
          <input type="number" id="quantity" name="quantity" class="form-control" placeholder="0" step="any" min="0" value="<%= ingredient.quantity %>">
        </div>
      </div>
      <div class="col-sm-2 col-md-2">
        <div class="form-group">
          <input type="text" id="unit" name="unit" class="form-control" placeholder="" value="<%= ingredient.unit %>">
        </div>
      </div>
      <div class="col-sm-5 col-md-3">
        <div class="form-group">
          <input type="text" id="ingredient" name="ingredient" class="form-control" placeholder="bacon, eggs, toilet paper, etc." value="<%= ingredient.ingredient %>">
        </div>
      </div>
      <div class="col-sm-2 col-md-2">
        <div class="form-group">
          <div class="btn-group btn-group-right">
            <button type="submit" class="btn btn-default">
              <i class="fa fa-refresh"></i></button>
              <a href="/delete_recipe_ingredient/<%= ingredient.id %>" class="btn btn-default">
                <i class="fa fa-trash-o"></i></a>
          </div>
        </div>
      </div>
    </form>
    <% end %>
</div>

