<div class="row">
  <div class="col-sm-offset-1 col-sm-2 col-md-offset-2 col-md-2">
    <div class="header_button_left">
      <a href="/recipes"><i class="fa fa-chevron-left"></i>  Back</a>
    </div>
  </div>
  <div class="col-sm-8 col-md-6">
    <div class="header_button_right">
      <a href="/items/new_from_recipe/<%= @recipe.id %>" >Add to List</a>
      <% if current_user.id == 1 %> |
      <a href="/recipes/<%= @recipe.id %>/edit">Edit</a> |
      <a href="/delete_recipe/<%= @recipe.id %>">Delete</a>
      <% else %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="page-header-new">
      <h1><%= @recipe.name %></h1>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <% if @recipe.photo.present? %>
    <p><img src="<%= @recipe.photo %>" width="80%"></p>
    <% else %>
    <p><img src="http://foro.ge/i/no_photo.gif"></p>
    <% end %>

    <p>&nbsp;</p>

    <h3 class="ingredient_header">Ingredients</h3>
    <ul>
      <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
      <li><%= recipe_ingredient.quantity %> <%= recipe_ingredient.unit %> <%= recipe_ingredient.ingredient %></li>

      <% end %>
    </ul>

  </div>
</div>
</div>
<!-- End simple full-width example-->
